[Desktop Entry]
Encoding=UTF-8
Name=Joplin
Comment=Joplin for Desktop
Exec=env APPIMAGELAUNCHER_DISABLE=TRUE /home/plr/.joplin/Joplin.AppImage --no-sandbox %u
Icon=joplin
StartupWMClass=Joplin
Type=Application
Categories=Note-Taking;
MimeType=x-scheme-handler/joplin;
X-GNOME-SingleWindow=true // should be removed eventually as it was upstream to be an XDG specification
SingleMainWindow=true
