[Desktop Entry]
Version=1.1
Type=Application
Name=Bitwarden
GenericName=Password Manager
Comment=A secure and free password manager for all of your devices.
Icon=com.bitwarden.desktop
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=bitwarden --file-forwarding com.bitwarden.desktop @@u %U @@
Actions=
MimeType=x-scheme-handler/bitwarden;
Categories=Privacy;
StartupWMClass=Bitwarden
