[Desktop Entry]
Name=balenaEtcher
Exec=etcher --no-sandbox %U
Terminal=false
Type=Application
Icon=/opt/etcher/icons/etcher
StartupWMClass=balenaEtcher
X-AppImage-Version=1.18.11
Comment=Flash OS images to SD cards and USB drives, safely and easily.
MimeType=x-scheme-handler/etcher;
Categories=Tools;
