[Desktop Entry]
Type=Application
Version=1.14.0+45
Name=LocalSend
GenericName=An open source cross-platform alternative to AirDrop
Icon=localsend_app
Exec=localsend_app %U
Categories=Tools;GTK;FileTransfer;
Keywords=Sharing;LAN;Files;
StartupNotify=true