[Desktop Entry]
Name=StarDict
Name[ar]=StarDict
Name[be]=StarDict
Name[cs]=StarDict
Name[de]=StarDict
Name[es]=StarDict
Name[fr]=StarDict
Name[ga]=StarDict
Name[hr]=StarDict
Name[hu]=StarDict
Name[kk]=StarDict
Name[ku]=StarDict
Name[lt]=StarDict
Name[mk]=StarDict
Name[nl]=StarDict
Name[pt_BR]=StarDict
Name[ru]=StarDict
Name[sk]=StarDict
Name[sv]=StarDict
Name[tr]=Stardict
Name[tt]=StarDict
Name[uk]=Зоряний словник :: StarDict
Name[vi]=StarDict
Name[zh_CN]=星际译王
Name[zh_TW]=星際譯王
GenericName=Lookup words
GenericName[ar]=البحث عن الكلمات
GenericName[be]=Пошук словаў
GenericName[cs]=Slovník s pokročilými funkcemi
GenericName[de]=Wörter nachschlagen
GenericName[es]=Buscar palabras
GenericName[fr]=Recherche de mots
GenericName[ga]=Déan cuardach ar fhocail
GenericName[he]=חפש מילים
GenericName[hr]=Pogledaj  riječi
GenericName[hu]=Szavak keresése
GenericName[kk]=Сөздерді іздеу
GenericName[lt]=Žodžių paieška
GenericName[mk]=Барај зборови
GenericName[nl]=Woorden opzoeken
GenericName[pt_BR]=Procure palavras
GenericName[ru]=Поиск определений слов
GenericName[sk]=Vyhľadávané slová
GenericName[sv]=Slå upp ord
GenericName[tr]=Kelime arama
GenericName[tt]=Süzlär küzläp toru
GenericName[uk]=Шукати слова
GenericName[vi]=Tra từ
GenericName[zh_CN]=查询单词
GenericName[zh_TW]=查詢單字
Comment=StarDict is an international dictionary for GNOME.
Comment[ar]=StarDict قاموس عالمي مخصص لبيئة سطح المكتب GNOME.
Comment[be]=StarDict - гэта міжнародны слоўнік для GNOME.
Comment[de]=StarDict ist ein internationales Wörterbuch für GNOME.
Comment[es]=StarDict es un diccionario internacional para GNOME.
Comment[fr]=StarDict est un dictionnaire international pour GNOME.
Comment[ga]=Foclóir idirnáisiúnta é StarDict le haghaidh GNOME.
Comment[he]=‏StarDict הינו מילון בינלאומי עבור GNOME.
Comment[hr]=StarDict je međunarodni rječnik za GNOME.
Comment[hu]=StarDict egy nemzetközi szótár NEM CSAK GNOME-hoz!!!
Comment[kk]=StarDict - GNOME үшін сөздік қолданбасы.
Comment[lt]=StarDict yra tarptautinis žodynas GNOME aplinkai.
Comment[mk]=StarDict е интернационален речник за GNOME.
Comment[pt_BR]=StarDict é um dicionário internacional para o GNOME.
Comment[ru]=StarDict это международный словарь для GNOME.
Comment[sk]=StarDict je medzinárodný slovník pre GNOME.
Comment[tr]=Stardict GNOME için uluslararası bir sözlüktür.
Comment[tt]=GNOME öçen StarDict atlı xalıqara süzlek.
Comment[uk]=Зоряний словник - це міжнародний словник для GNOME.
Comment[vi]=StarDict là một từ điển quốc tế cho GNOME.
Comment[zh_CN]=星际译王是 GNOME 中的国际化的词典软件。
Comment[zh_TW]=星際譯王是 GNOME 的國際化辭典。
Exec=stardict
Terminal=false
Type=Application
Icon=stardict
StartupNotify=true
Categories=Utility;TextTools;Dictionary;
Keywords=Dictionary;
X-GNOME-DocPath=stardict/stardict.xml
