[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/plr/Desktop/FileZilla-2023-12-11.xml]
row=4
col=0

[/home/plr/Desktop/Virt-manager Location.txt]
row=2
col=0

[/home/plr/Desktop/Xubuntu Panel Profile]
row=7
col=0

[/home/plr/Desktop/New Text Document.txt]
row=6
col=0

[/home/plr/Desktop/Package List.txt]
row=3
col=0

[/home/plr/Desktop/Thunar Custom Shortcuts]
row=5
col=0

[/home/plr/Desktop/Crash Fix]
row=8
col=0

[Trash]
row=0
col=0

[/home/plr]
row=1
col=0

