[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/plr/Desktop/Thunar Custom Shortcuts]
row=5
col=0

[/home/plr/Desktop/Prompt Project]
row=1
col=5

[/home/plr/Desktop/New Icons For Menu]
row=0
col=1

[/home/plr/Desktop/Virt-manager Location.txt]
row=2
col=0

[/home/plr/Desktop/Mod Themes & Icons]
row=1
col=4

[/home/plr/Desktop/menus]
row=9
col=0

[/home/plr/Desktop/Kali Linux Menu Backup]
row=1
col=10

[/home/plr/Desktop/New Text Document.txt]
row=6
col=0

[/home/plr/Desktop/Xfce Menu Edit]
row=1
col=8

[/home/plr/Desktop/Crash Fix]
row=8
col=0

[/home/plr/Desktop/Save]
row=7
col=0

[D0FA4789FA476AB4]
row=3
col=0

[7452-0425]
row=4
col=0

[Trash]
row=0
col=0

[/home/plr]
row=1
col=0

