[Desktop Entry]
Name[be]=Solanum
Name[ca]=Solanum
Name[cs]=Solanum
Name[da]=Solanum
Name[de]=Solanum
Name[el]=Solanum
Name[en_GB]=Solanum
Name[es]=Solanum
Name[eu]=Solanum
Name[fi]=Solanum
Name[fr]=Solanum
Name[fur]=Solanum
Name[fy]=Solanum
Name[gl]=Solanum
Name[he]=‏Solanum
Name[hi]=सोलेनम
Name[hr]=Solanum
Name[hu]=Solanum
Name[id]=Solanum
Name[is]=Solanum
Name[it]=Solanum
Name[ka]=Solanum
Name[ko]=솔라넘
Name[nl]=Solanum
Name[oc]=Solanum
Name[pl]=Solanum
Name[pt]=Solanum
Name[pt_BR]=Solanum
Name[ro]=Solanum
Name[ru]=Solanum
Name[sl]=Solanum
Name[sr]=Соланум
Name[sv]=Solanum
Name[tr]=Solanum
Name[uk]=Solanum
Name[zh_CN]=番茄闹钟
Name=Solanum
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=solanum org.gnome.Solanum
Icon=org.gnome.Solanum
Terminal=false
Type=Application
Categories=Tools;GTK;GNOME;
StartupNotify=true
Keywords[be]=Pomodoro;Timer;Productivity;памідор;памадора;таймер;прадуктыўнасць;
Keywords[ca]=Pomodoro; Temporitzador; Productivitat;
Keywords[cs]=pomodoro;časovač;organizace času;produktivita;
Keywords[da]=Pomodoro;Timer;Tidtager;Produktivitet;
Keywords[de]=Pomodoro;Timer;Productivity;Produktivität;
Keywords[el]=Pomodoro;Χρονόμετρο;Παραγωγικότητα;
Keywords[en_GB]=Pomodoro;Timer;Productivity;
Keywords[es]=Pomodoro;Temporizador;Productividad;Gestión;Tiempo;
Keywords[eu]=Pomodoro;tenporizadorea;produktibitatea;
Keywords[fi]=Pomodoro;Timer;Productivity;tuottavuus;ajastin;
Keywords[fr]=Pomodoro;Minuteur;Productivité;
Keywords[fur]=Pomodoro;Timer;Temporizadôr;Produtivitât;
Keywords[fy]=Pomodoro;Timer;Productivity;Produktivens;
Keywords[gl]=Pomodoro;Temporizador;Productividade;
Keywords[he]=‏Pomodoro;פומודורו;יעילות;ניהול זמן;קוצב זמן;טיימר;
Keywords[hi]=Pomodoro;Timer;Productivity;पोमोडोरो;टाइमर;उत्पादकता;समय
Keywords[hr]=Pomodoro;Odbrojavanje;Produktivnost;
Keywords[hu]=Pomodoro;Időzítő;Produktivitás;
Keywords[id]=Pomodoro;Pewaktu;Produktivitas;
Keywords[is]=Pomodoro;Tímavaki;Framleiðni;
Keywords[it]=Pomodoro;Orologio;Contaminuti;Timer;Produttività;
Keywords[ka]=Pomodoro;Timer;Productivity;
Keywords[ko]=Pomodoro;뽀모도로;포모도로;Timer;타이머;Productivity;생산성;
Keywords[nl]=Pomodoro;Timer;Productivity;Productiviteit;
Keywords[oc]=Pomodoro;minutariá;productivitat;
Keywords[pl]=Pomodoro;Minutnik;Timer;Czas;Produktywność;
Keywords[pt]=Pomodoro;Tempo;Produtividade;
Keywords[pt_BR]=Pomodoro;Temporizador;Produtividade;
Keywords[ro]=Pomodoro;Timer;Productivity;Cronometru;Productivitate;
Keywords[ru]=Pomodoro;Timer;Productivity;помидоро;таймер;продуктивность;
Keywords[sl]=Pomodoro;Timer;Productivity;Časovnik;Delo;Premori;Pavza;Počitek;
Keywords[sr]=помодоро;тајмер;одбројавач;продуктивност;Pomodoro;Timer;Productivity;
Keywords[sv]=Pomodoro;Timer;Tidtagare;Produktivitet;
Keywords[tr]=Pomodoro;Zamanlayıcı;Süreölçer;Üretkenlik;Verimlilik;
Keywords[uk]=Pomodoro;Timer;Productivity;помодоро;таймер;продуктивність;
Keywords[zh_CN]=Pomodoro;Timer;Productivity;番茄工作法;计时器;生产力;闹钟;时钟;
Keywords=Pomodoro;Timer;Productivity;
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=org.gnome.Solanum
